li{

    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;

}

li:first-child{

    background-color: rgb(37, 204, 148);

}

li:last-child{

    background-color: rgb(219, 255, 121);
    border: 0px;

}

div{

margin: 5px;

}