.card{

    color: black;
    padding: 2px;
    border: 2px solid rgb(18, 18, 123);
    box-shadow: 4px 4px 9px rgba(25, 19, 151, 0.472);
    border-radius: 24px;
    width: 250px;
    height: 300px;
    display: flex;
    max-width: 250px;
    max-height: 300px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    inline-size: 3;

}

.container{

display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
align-content: center;
align-items: center;
flex-wrap: wrap;
    

}

body img{

width: 200px;
height: 200px;
display: block;

}

div{

margin: 12px;

}

h2{

font-size: 16px;
text-align: center;

}

b, h2{

font-weight: bold;
align-items:flex-start;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 192, 6);
    color: rgb(0, 24, 6);
    border-radius: 4px;
    border: 2px solid rgb(0, 134, 4);
    padding: 3px;
    color: white;
    margin: 2px;
    margin-left: 50px;

    
    }

    button:hover{

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgb(210, 255, 211);
        color: rgb(0, 115, 29);
        border-radius: 4px;
        border: 2px solid rgb(0, 255, 8);
        padding: 3px;
        color: rgb(0, 0, 0);
        margin: 2px;
        margin-left: 50px;
    
        
        }

.product{

margin-top: 0px;

}

.header{

background-color: rgb(43, 43, 43);
border-radius: 12px;
display: flex;
flex-direction: row;
justify-items: center;
align-items: center;
margin: 5px;
padding: 12px;

}

header img{

    width: 80px; 
    height: 80px;
}

h1{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 24px;
font-weight: 400;
font-style: italic;
color: white;
padding-left: 24px;

}