img{

    border: 5px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    height: 200px;
    width: 300px;
    padding: 2px;
    background-color: black;
    
}

div{

margin: 9px;

}